<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To do</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <div class="container" role="main">
      <%= @inner %>
    </div>
    <script>require("web/static/js/app")</script>
  </body>
</html>
