body {
  background-color: #eee;
  margin: 20px;
  font: 16px/24px sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  border-top: 1px solid #ddd;
}

li:first-child {
  border-top: 0;
}

input {
  vertical-align: center;
  font-size: 16px;
  margin-right: 10px
}

label {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

.new-task {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: block;
  margin: 10px 0;
}
